*.aux
*.bcf
*.idx
*.ilg
*.ind
*.log
*.lol
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
*.synctex(busy)
*.synctex.gz.sum.synctex
.obsidian
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.bbl
*.blg
*.fdb_latexmk
*.fls
.idea